
<!DOCTYPE html>
<html>
<head>
  <title>About Forum App</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
  
  <h1>About <%= forumName %></h1>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
  <p>Welcome to the Horrific Thrills! This app is designed to provide a platform for users to engage in discussions, share ideas, and connect with horror fans accross the globe.</p>
  
  <h2>Features</h2>
  <ul>
    <li>view posts from varing topics</li>
    <li>add posts to include yourself in the conversation</li>
  </ul>
  
  <h2>Get Started</h2>
  <p>To start using the Horrific Thrills!, simply have a username and email in mind ready to be used when posting.</p>
  
  
</body>
</html>
