<!doctype html>
<html>
  <head>
    <title>Welcome to forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to forum</h1>
    <p><a href="about">About Horiffic Thrills</a></p>
    <p><a href="search">Search for forums</a></p>
    <p><a href="topics">View all topics</a></p>
    <p><a href="users">View all users</a></p>
    <p><a href="posts">View all posts</a></p>
    <p><a href="addPost">Create a new post</a></p>
  </body>
</html>
